<center>
  <br>
  <h1 class="text-white">Bienvenue sur notre site !</h1>
  <br>
  <h2>Voici la liste des évènements :</h2>
  <br>
  <br>
  <div class="card-container">
    <% @events.reverse_each do |event| %>
      <div class="card m-3" style="max-width: 20rem;">
        <img class="card-img-top" src="<%= event.img_url %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="event.title text-success"><%= event.title %></h5>
          <p class="event.description"><%= event.description %></p>
          <p><%= button_to 'Détails', event_path(event), method: :get, class: "btn btn-dark" %></p>
        </div>
      </div>
    <% end %>
  </div>
</center>
